.contacts{
    display: flex;
    flex-flow: column wrap;
    height: 450px;
    text-align: center;
    justify-content: center;
}
.inputContacts{ 
    left:50%;
    width: 300px;
    margin-top: 10px;
    height: 30px;
}
.inputs{ 
    display: flex;
    flex-flow: column wrap;
    margin-left: 36%;
}